{{define "main"}}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">We look forward to getting to know you!</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">
          We're here to make your life easier
        </h2>
        <p data-aos="fade-up" data-aos-delay="500">
          Our unwavering mission: crafting beautiful, affordable homes for
          professionals. Our commitment: delivering exceptional returns to our
          esteemed landlords and investors, consistently, month after month,
          year after year. Join us in building a harmonious ecosystem where
          tenants thrive, landlords prosper, and investments flourish.
        </p>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a
              href="#contact"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
            >
              <span>Speak to Us </span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="/assets/img/hero-img.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <p>Nestate Property Management Experts</p>
    </header>

    <div class="row">
      <div class="col-lg-6">
        <img src="/assets/img/features.png" class="img-fluid" alt="" />
      </div>

      <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
        <div class="row align-self-center gy-4">
          <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Affordable, Beautiful Homes Committed.</h3>
            </div>
          </div>

          <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Rent Guarantee for Landlords</h3>
            </div>
          </div>

          <div class="col-md-12" data-aos="zoom-out" data-aos-delay="400">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Licensed Rent Smart Wales</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / row -->
  </div>
</section>
<!-- End Features Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <p>Nestate Properties: Your Dream Homes</p>
    </header>

    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-box blue">
          <i class="bi bi-bricks icon"></i>
          <h3>Landlords</h3>
          <p>
            Experience freedom from tenant management, with guaranteed rent and
            unparalleled peace of mind. Discover the perfect solution for you.
          </p>
          <a href="/landlord" class="read-more"
            ><span>Read More</span> <i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-box orange">
          <i class="bi bi-building icon"></i>
          <h3>Corporate Accommodation</h3>
          <p>
            Unlock the ultimate corporate accommodation experience: Say goodbye
            to tenant management, enjoy guaranteed rent, and experience complete
            peace of mind.
          </p>
          <a href="/corporate" class="read-more"
            ><span>Read More</span> <i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-box green">
          <i class="bi bi-house icon"></i>
          <h3>Tenant</h3>
          <p>
            Discover a new level of tenant satisfaction: Say goodbye to hassle,
            embrace guaranteed rent, and experience unparalleled peace of mind.
          </p>
          <a href="/tenant" class="read-more"
            ><span>Read More</span> <i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->

<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>F.A.Q</h2>
      <p>Frequently Asked Questions</p>
    </header>

    <div class="row">
      <div class="col-lg-6">
        <!-- F.A.Q List 1-->
        <div class="accordion accordion-flush" id="faqlist1">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-1"
              >
                What types of homes do you offer for professionals?
              </button>
            </h2>
            <div
              id="faq-content-1"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                We offer beautiful and affordable homes tailored specifically
                for professionals.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-2"
              >
                Are the homes you provide suitable for professionals?
              </button>
            </h2>
            <div
              id="faq-content-2"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                Absolutely! Our homes are specifically designed and curated to
                meet the needs and preferences of professionals.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-3"
              >
                What does "guaranteed rent" mean for landlords and investors?
              </button>
            </h2>
            <div
              id="faq-content-3"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist1"
            >
              <div class="accordion-body">
                Guaranteed rent ensures that landlords and investors receive
                their rental income consistently, without the risk of tenant
                defaults.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <!-- F.A.Q List 2-->
        <div class="accordion accordion-flush" id="faqlist2">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq2-content-1"
              >
                How can landlords and investors benefit from your services?
              </button>
            </h2>
            <div
              id="faq2-content-1"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist2"
            >
              <div class="accordion-body">
                Our services provide guaranteed rent, offering landlords and
                investors financial freedom and total peace of mind.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq2-content-2"
              >
                How do you ensure freedom and peace of mind for landlords and
                investors?
              </button>
            </h2>
            <div
              id="faq2-content-2"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist2"
            >
              <div class="accordion-body">
                We handle tenant management, reducing the burden on landlords
                and investors, allowing them to enjoy freedom from day-to-day
                operational tasks and offering them peace of mind.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq2-content-3"
              >
                What sets your services apart from others in the market?
              </button>
            </h2>
            <div
              id="faq2-content-3"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist2"
            >
              <div class="accordion-body">
                Our unique combination of beautiful, affordable homes for
                professionals and our commitment to providing guaranteed rent
                sets us apart as a reliable and trusted choice for landlords and
                investors.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End F.A.Q Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Contact</h2>
      <p>Contact Us</p>
    </header>

    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>
                124 City Road, <br />
                London, EC1V 2NX
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>02031376089</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>contact@nestateproperties.co.uk</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <i class="bi bi-clock"></i>
              <h3>Open Hours</h3>
              <p>
                Monday - Friday <br />
                9:00AM - 18:00PM <br />
                Saturday
                <br />
                10:00AM to 16:00PM
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" class="php-email-form">
          <div class="row gy-4">
            <div class="col-md-6">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Your Name"
                required
              />
            </div>

            <div class="col-md-6">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Your Email"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                name="subject"
                placeholder="Subject"
                required
              />
            </div>

            <div class="col-md-12">
              <textarea
                class="form-control"
                name="message"
                rows="6"
                placeholder="Message"
                required
              ></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>

              <button type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->

{{end}}
